/* This is where styles are defined for your page. */
/* One style is provided as example. */



body {
    background-image: url("images/Xanadu_on_Map_of_Asia.JPG");
    background-attachment: fixed;
    font-family: Baghdad, Times, serif;
    margin: 40px;
    line-height: 200%;
}

h1, h3 {
    color: #fff514;
}

h1, h2, h3 {
    font-family: Palatino, serif;
}

.page-header {
    text-align: center;
}

#content {
    border-radius: 10px;
    background-color: linen;
    float: left;
    width: 640px;
    font-size: 20px;
    /*margin-top: 5px;*/
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

.more-info {
    float: right;
    width: 340px;
    background-color: linen;
    padding: 20px;
    border-radius: 10px;
}

 a {
    color: darkcyan;
}

.more-info img {
    width: 100%;
}

.poem {
    list-style-type: none;
}

.page-footer li {
        display: inline;
        padding-left: 5px;
        padding-right: 5px;
}

.page-footer .citation {
    margin-top: 20px;
    margin-left: 100px;
    clear:both;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
}
.page-footer .citation:nth-child(1) {
    display: inline-block;
    float: left;
    background-color: #d4c4cf;

}
.page-footer .citation:nth-child(2) {
    display: inline-block;
    float: left;
    background-color: #bfbfd9;
}

.page-footer p.page-credits {
    clear:both;
    display:inline-block;
    background-color: linen;
    float: right;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
}
